#root, body, html {
  height: 100%;
  margin: 0;
}
body{
  background-image: url(assets/images/bg.jpg);
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}